<div class="img-background">

</div>

<div id="menuHeader">
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div id="barraHeader">
                <div class="btn-toolbar pull-right">
                    <span><a class="menu" href="https://www.facebook.com/AMEFOTOGRAFIADIGITAL" target="_blank"><i class="ion-social-facebook"></i></a></span>
                    <span><a class="menu" href="#"><i class="ion-social-twitter"></i></a></span>
                    <span><a class="menu" target="_blank" href="https://www.linkedin.com/in/edilson-augusto-de-andrade-3727759/" ><i class="ion-social-linkedin"></i></a></span>
                    <span><a class="menu" target="_blank" href="https://www.instagram.com/edilson.atletalivre/"><i class="ion-social-instagram"></i></a></span>
                </div>
                <div class="btn-toolbar pull-left hidden-xs">

                    <span><a class="menu" href="#"><i class="glyphicon glyphicon-earphone"></i> +55 11 98196-5307</a></span>
                    <span><a class="menu" href="#"><i class="glyphicon glyphicon-envelope"></i> edilson.a.andrade@gmail.com</a></span>

                </div>
            </div>


        </div>

        <div class="row hidden-xs">
            <div class="col-md-12 col-xs-12 text-center"><label class="me">I'M EDILSON</label></div>
        </div>
        <div class="row visible-xs">
            <div class="col-md-12 col-xs-12 text-center"><label class="me me-small">I'M EDILSON</label></div>
        </div>
        <div class="row visible-xs">
           <p>
            <div class="row">
                <span class="col-xs-12 col-xs-push-3"><a class="menu" href="#"><i class="glyphicon glyphicon-earphone"></i> +55 11 98196-5307</a></span>
               
            </div>
            <div class="row">
                 <span class="col-xs-12 col-xs-push-3"><a class="menu" href="#"><i class="glyphicon glyphicon-envelope"></i> edilson.a.andrade@gmail.com</a></span>
            </div>
           <p>
           
        </div>
        <div class="container">
            <p>
            <div class="form-group">
              
                    <span class="col-xs-6"><a class="notextdecoration  pull-right" href="#aboutMe" alt="aboutme" >ABOUT ME</a> </span>
                    <span class="col-xs-6"><a href="#portfolio" class="notextdecoration" alt="portfolio">PORTFOLIO</a> </span>
               
            </div>
            </p>
        </div>

    </div>