<div ng-controller="ServicesController as vm">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h2>
                        Services
                    </h2>
                </div>

            </div>
        </div>
        <div class="col-md-4" ng-repeat="service in vm.service">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="col-md-3 visible-lg visible-sd"><img src="{{service.icon}}" class="img-responsive" /> </span>
                    <h3>
                        {{service.title}}
                    </h3>
                </div>
                <div class="panel-body">
                    {{service.description}}
                </div>
            </div>
        </div>



    </div>
</div>